# Exercícios - Capítulo Dominando o Python

1) Imprima a frase "Eu sou Minerador de Dados!"

In [1]:
print("Eu sou Minerador de Dados!")

Eu sou Minerador de Dados!

2) Faça operações matemáticas de soma, subtração, multiplicação e divisão.

In [2]:
#Soma
2+2

4

In [4]:
#Subtração
10-5

5

In [5]:
#Multiplicação
100*5

500

In [8]:
#Divisão
100/5

20.0

3) Imprima o tipo de um determinado valor inteiro.

In [9]:
type(10)

int

4) Converta o valor passado anteriormente para o tipo float

In [10]:
float(10)

10.0

5) Faça a conversão do valor float recebido anteriormente para o tipo string

In [12]:
str(10.0)

'10.0'

6) Utilizando funções de arredonamento faça:
- Arredonde o valor 2.898
- Arredonde o valor 2.4545455 e exiba apenas 4 cadas decimais

In [13]:
round(2.898)

3

In [14]:
round(2.4545455,4)

2.4545

7) Utilizando variáveis faça:
- Defina uma variável com o seu nome e imprima o seu valor.
- Imprima o tipo dessa variável.
- Substitua o valor da sua variável nome com a concatenação do seu valor e o seu sobrenome, depois, imprima o novo valor.
    - obs: O resultado dessa variável será Nome Sobrenome, exemplo, Felipe Santana.
- Defina duas variaveis com os valores do seu email e idade com apenas uma linha de comando, depois, imprima seus valores.

In [21]:
var1 = "FELIPE"
print(var1)

FELIPE

In [22]:
type(var1)

str

In [23]:
var1 = var1+" CIACIA"
print(var1)

FELIPE CIACIA

In [24]:
email, idade = "ciaciafelipe@gmail.com", 25
print (email, idade)

ciaciafelipe@gmail.com 25

8) Explique a causa do erro se executar a seguinte instrução para criar uma nova variável: break=10

R: a variável usada é um comando reservado do Python.

9) Sobre os objetos Strings, faça:
- Defina uma variavel com a string: "Python é uma maldição!" e imprima
- Imprima o primeiro caracter da variavel.
- Imprima os valores do primeiro caracter até o 6.
- Faça a contagem de todos os caracteres utilizando uma única linha de comando.
- Faça uma contagem de quantos vezes a palavra dados aparece na seguinte frase:
    - "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados.."
- Substitua o primeiro caracter da frase acima para maiúsculo
- Quebre as palavras da frase separado por virgula, criando uma lista.

In [26]:
str1 = "Python é uma maldição!"
print(str1)

Python é uma maldição!

In [27]:
str1[0]

'P'

In [28]:
str1[0:6]

'Python'

In [30]:
len(str1)

22

In [32]:
str2 = "dados é o novo petróleo, em Deus eu confio, para o resto me traga dados."
str2.count("dados")

2

In [33]:
str2.capitalize()

'Dados é o novo petróleo, em deus eu confio, para o resto me traga dados.'

In [35]:
str2.split(',')

['dados é o novo petróleo',
 ' em Deus eu confio',
 ' para o resto me traga dados.']

10) Trabalhando com Listas, faça:
- Cria uma lista de valores inteiros com o nome idades.
- Imprima apenas segundo elemento da lista.
- Imprima a contagem de valores da lista.
- Substitua o valor do segundo elemento da lista e imprima o resultado.
- Imprima apenas os valores do segundo elemento em diante.
- Remova qualquer elemento da lista e imprima o resultado.
- Defina uma lista chamada salarios com os valores : 900,1200,1500,800,12587,10000.
- Verifique se contém o valor 10000 na lista de salarios.
- Imprima o menor e maior valor da lista.
- Adicione o valor 7000 a lista.
- Extenda a lista com dois novos elementos utilizando apenas um método.
- Imprima o índice do elemento de valor 800 da lista de salarios.
- Faça uma ordenação dos valores da lista de salarios em ordem crescente e decrescente.

In [36]:
idades = [10,20,35,68,91,20,32,20]

In [37]:
print(idades[1])

20

In [39]:
len(idades)

8

In [41]:
idades[1] = 30
print(idades[1])

30

In [42]:
print(idades[1:])

[30, 35, 68, 91, 20, 32, 20]

In [47]:
idades.remove(20)
print(idades)

[30, 35, 68, 91, 32, 20]

In [49]:
salarios = [900,1200,1500,800,12587,10000]

In [50]:
10000 in salarios

True

In [52]:
max(salarios)

12587

In [53]:
min(salarios)

800

In [54]:
salarios.append(700)

In [55]:
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 700]

In [57]:
salarios.extend([900,1100])
print(salarios)

[900, 1200, 1500, 800, 12587, 10000, 700, 900, 1100]

In [58]:
salarios.index(800)

3

In [60]:
salarios.sort()
print(salarios)

[700, 800, 900, 900, 1100, 1200, 1500, 10000, 12587]

In [61]:
salarios.sort(reverse=True)
print(salarios)

[12587, 10000, 1500, 1200, 1100, 900, 900, 800, 700]